TestClientApp/Connected Services/DigitalSignatureServRef/DigitalSignatureService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Signiture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignitureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignitureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SignitureSoapIn">
    <wsdl:part name="parameters" element="tns:Signiture" />
  </wsdl:message>
  <wsdl:message name="SignitureSoapOut">
    <wsdl:part name="parameters" element="tns:SignitureResponse" />
  </wsdl:message>
  <wsdl:portType name="DigitalSignatureServiceSoap">
    <wsdl:operation name="Signiture">
      <wsdl:input message="tns:SignitureSoapIn" />
      <wsdl:output message="tns:SignitureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DigitalSignatureServiceSoap" type="tns:DigitalSignatureServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Signiture">
      <soap:operation soapAction="http://tempuri.org/Signiture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DigitalSignatureServiceSoap12" type="tns:DigitalSignatureServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Signiture">
      <soap12:operation soapAction="http://tempuri.org/Signiture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DigitalSignatureService">
    <wsdl:port name="DigitalSignatureServiceSoap" binding="tns:DigitalSignatureServiceSoap">
      <soap:address location="https://localhost:44320/DigitalSignatureService.asmx" />
    </wsdl:port>
    <wsdl:port name="DigitalSignatureServiceSoap12" binding="tns:DigitalSignatureServiceSoap12">
      <soap12:address location="https://localhost:44320/DigitalSignatureService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>